# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Project specific
server_bin/
libs/
*.log

# IDE
.vscode/
.idea/

# Build
build/
dist/
build_deb/
build_rpm/
build_win/
kubecontrol-mc.*
kubecontrol-mc_*.deb
